<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<b>This is dash board</b>
<fieldset>
 <legend>Patient Info</legend>
 <div align="left">
 Search:<input type="text" ng-model="searchKey"/>
 </div>
 <table border="2">
   <tr>
     <th>Patient Id</th>
     <th>Patient Name</th>
     <th>Action</th>
   </tr>
   <tr ng-repeat="patient in patientList | filter:searchKey | orderBy:'-userName'">
     <td>{{patient.patientId}}</td>
     <td>{{patient.userName}}</td>
     <td>
     <a ng-href="#/editPatient/{{patient.patientId}}">Edit</a>|
     <a ng-href="#/deletePatient/{{patient.patientId}}">Delete</a>|
     </td>
   </tr>
 </table>
</fieldset>
</body>
</html>