<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<fieldset>
<legend>
Patient
</legend>
<form action="" ng-submit="register()">
<table>
<tr>
<td>FirstName:<input type="text" ng-model="fname"/></td> 
</tr>
<tr>
<td>LastName:<input type="text" ng-model="lname"/>
</tr>
<tr>
<td>UserId:<input type="text" ng-model="uid"/>
</tr>

<tr>
<td>Password:<input type="password" ng-model="pwd"/>

</td>
</tr>
<tr>
<td>ConfirmPassword:<input type="password" ng-model="cpwd"/></td>
</tr>
<tr>
<td>EmailId:<input type="text" ng-model="emailid"/></td>
</tr>
<tr>
<td><input type="submit" value="register"></td>
</tr>
</table>
</form:form>
</fieldset>
</body>
</html>