<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:jee="http://www.springframework.org/schema/jee"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/jee
http://www.springframework.org/schema/jee/spring-jee.xsd
">

<context:component-scan base-package="com.siri.crm.patientCare"></context:component-scan>
<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
  <property name="driverClassName" value="org.postgresql.Driver"></property>
  <property name="url" 
  value="jdbc:postgresql://ec2-23-21-246-11.compute-1.amazonaws.com:5432/d7ui5om1aqo215"></property>
  <property name="username" value="gsduswbdclonom"></property>
  <property name="password" value="f7c4bd8eef9192917de59ca220d78769355d92d62b4e64685e9d71d4b2dc97cd"></property>
</bean>
<!-- <jee:jndi-lookup id="ds" jndi-name="jdbc/esmarthealth" resource-ref="true"></jee:jndi-lookup> -->

<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
<property name="dataSource" ref="ds"></property>
<property name="packagesToScan">
 <array>
   <value>com.siri.crm.patientCare.domain</value>
 </array>
 </property>
 <property name="hibernateProperties">
 <props>
    <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
    <prop key="hibernate.hbm2ddl.auto">update</prop>
    <prop key="hibernate.show_sql">true</prop>
    <prop key="hibernate.format_sql">true</prop>
    <!--<prop key="hibernate.connection.driver_class">org.postgresql.Driver</prop>
    <prop key="hibernate.connection.url">postgres://fvaxuunpuszian:124e63f77e84685529314958965ce5199e37da03d6d6aaef96c4d57c907e6963@ec2-174-129-37-15.compute-1.amazonaws.com:5432/ddq7rn9f8bcuie</prop>
    <prop key="hibernate.connection.username">fvaxuunpuszian</prop>
    <prop key="hibernate.connection.password">124e63f77e84685529314958965ce5199e37da03d6d6aaef96c4d57c907e6963</prop>-->
 </props>
 </property>

</bean>

<!-- HIbernate Template Configuration -->
<bean id="hibTemplate"  class="org.springframework.orm.hibernate4.HibernateTemplate">
  <property name="sessionFactory" ref="sessionFactory"></property>
</bean>

<!-- Hibernate Transaction Manager -->
<bean id="hibTxnManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
  <property name="sessionFactory" ref="sessionFactory"></property>
</bean>

<!-- mail properties -->
<!-- <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl"> 
  <property name="host" value="smtp.gmail.com"></property>
  <property name="port" value="587"></property>
  <property name="username" value="veera.arunkumar714@gmail.com"></property>
  <property name="password" value="9704146030"></property>
  <property name="javaMailProperties">
    <props>
       <prop key="mail.smtp.auth">true</prop>
       <prop key="mail.smtp.starttls.enable">true</prop>
    </props>
  </property>
</bean>

<bean id="applicationMailer" class="com.siri.esmarthealthcare.services.ApplicationMailerImpl">
  <property name="mailSender" ref="mailSender"></property>
</bean> -->

</beans>